# IntelliJ
.idea
*.iml

# Gradle
.gradle
gradle
gradle.properties

# Android Studio
local.properties
gradlew*

# Build Artifacts
build
gen
out

# Referenced Libraries
libs

# Mac
.DS_Store

# Key Store
*.keystore

# Google In-App Billing
IInAppBillingService.aidl
